@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --clr-neon: rgb(247, 11, 133);
    --clr-bg: hsl(323 21% 16%);
}

/* Preloader */

#preloader{
    background-image: url(../img/preloader.jpg);
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 99;
    transition: all 1s linear;
}

.loader img {
    z-index: 100;
    max-height: 400px;
    max-width: 400px;
    position: relative;
    top: 200px;
    left: calc((100% - 400px) / 2);
    filter:contrast(1.5)
}

.loadtext{
    position: relative;
    font-family: sans-serif;
    z-index: 100;
    color: white;
    font-size: 40px;
    left: 695px;
    top: 180px;
}




body {
    background-image: url(../img/background.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px 10px;
    overflow: hidden;
}

/* Choose Section */

form {
    display: flex;
}

.choose-section{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 33%;
    height: 80vh;
    border-radius: 40px;
}

.sec1{
    margin-right: 500px;
}

.text h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: rgb(247, 11, 133);
}

/* Cards */

.card {
    position: relative;
    width: 450px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: 0.5s;
    margin-bottom: 20px;
}


.card h3 {
    position: absolute;
    font-size: 20px;
}

.card .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.card .circle::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1d1135;
    clip-path: circle(50px at center);
    transition: 0.5s;
}

.card:hover .circle:before{
    background: #edf0f1;
    clip-path: circle(400px at center);
}

.card-image img{
    position: absolute;
    top: 45%;
    left: 53%;
    transform: translate(-50%, -50%);
    height: 100px;
    cursor: pointer;
    transition: 0.5s;
}

.card:hover .card-image img {
    left: 95%;
    top: 30%;
    height: 100px;
}


/* card content */

.card .content{
    position: relative;
    width: 55%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.card:hover .content{
    left:-120px;
    top: -45px;
    opacity: 1;
    visibility: visible;
}

.card .content h2{
    color: rgb(247, 11, 133);
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1em;
    margin-left: 70px;
    margin-bottom: 70px;
}


/* JS part */

.card .circle-opened::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #edf0f1;
    clip-path: circle(400px at center);
    border-radius: 20px;
    transition: 0.5s;
}

.image-opened img {
    position: absolute;
    top:45%;
    left: 95%;
    transform: translate(-50%, -50%);
    height: 100px;
    transition: 0.5s;
}

.content-opened{
    position: relative;
    width: 55%;
    top: -45px;
    left: -120px;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
    opacity: 1;
    visibility: visible;
}

.content-opened h2{
    color: rgb(247, 11, 133);
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1em;
    margin-left: 70px;
    margin-bottom: 70px;
}


/* For Radio-Buttons (Selections) */

.attributes {
    position: absolute;
    left: 66%;
    top: 40%;
    display: flex;
    flex: wrap;
    justify-content: center;
}

.input-container {
    position: relative;
    width: 38px;
    margin: 33px;
}

.input-container input{
    position: absolute;
    width: 200%;
    height: 50%;
    margin-left: -30px;
    cursor: pointer;
    z-index: 2;
    opacity: 0;

}

.radio-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.radio-title img{
    height: 60px;
    width: 60px;
    transition: all 0.5s linear;
}

.radio-title label {
    font-size: 14px;
    font-weight: 600;
    color: black;
    margin-top: 0;
}


.radio-image {
    transition: all 0.5s linear;
}



/* JS Part */

.active {
    border-style:hidden;
    padding: 2px;
    border: 4px solid rgb(247, 11, 133);
    border-radius: 90px;
    transform: translateY(-30px);
    margin-bottom: -20px;
    transition: all 0.5s ease;
}

.active img {
    width: 80px;
    height: 80px;
}

/* middle div */
.middle {
    height: 50%;
    padding: 20px;
    position: absolute;
    justify-content: center;
    text-align: center;
    left: 37%;
    top: 5%;
}

.middle img {
    max-width: 200px;
    max-height: 200px;
}

.middle h1 {
    color: rgb(247, 11, 133);
}

/* name and btn */

.name {
    z-index: 2;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    position: absolute;
    border: 2px solid #aaa;
    border-radius: 4px;
    outline: none;
    padding: 8px;
    left: 650px;
    top: 45%;
    box-shadow: 0 0 2em 0.5em rgba(247, 11, 133, 0.514);
}


/* buttons */

.btn {
    background: none;
    position: absolute;
    top: 60%;
    left: 44.5%;
    color: var(--clr-neon);
    font-size: 1.5rem;
    display: inline-block;
    border: var(--clr-neon) 0.125em solid;
    border-radius: 0.25em;
    padding: 0.1em 0.3em;
    cursor: pointer;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    position: absolute;
    transition: background-color 0.2s linear;
}

.btn::before{
    pointer-events: none;
    content: "";
    position: absolute;
    background-color: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1.5em) rotateX(40deg) scale(1, 0.35);
    filter: blur(2em);
}

.btn:hover,
.btn:focus {
    background: var(--clr-neon);
    color: white;
    text-shadow: none;
}

.btn::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: rgba(247, 11, 133, 0.514);
    opacity: 0;
    transition: opacity 0.2s linear;
}

.btn:hover::after{
    opacity: 0.8;
}






.Info-btn a{
    text-decoration: none;
    color: var(--clr-neon);
}

.Info-btn {
    font-size: 1.5rem;
    display: inline-block;
    border: var(--clr-neon) 0.125em solid;
    border-radius: 0.25em;
    color: var(--clr-neon);
    padding: 0.1em 0.3em;
    cursor: pointer;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    position: absolute;
    top: 130%;
    left: 33%;
    transition: background-color 0.2s linear;
}

.Info-btn::before{
    pointer-events: none;
    content: "";
    position: absolute;
    background-color: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1.5em) rotateX(40deg) scale(1, 0.35);
    filter: blur(2em);
}

.Info-btn:hover,
.Info-btn:focus {
    background: var(--clr-neon);
    color: white;
    text-shadow: none;
}

.Info-btn::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: rgba(247, 11, 133, 0.514);
    opacity: 0;
    transition: opacity 0.2s linear;
}

.Info-btn:hover::after{
    opacity: 0.8;
}

.Info-btn:hover a{
    color: white;
}
