* {
    box-sizing: border-box;
}
html, body {
    margin: 0 auto;
    height: 100%;
    /* overflow: hidden; */
}

body {
    display: flex;
    align-items: center;
    font-family: monospace;
    justify-content: center;
}

.container {
    position: relative;
    background-image: url(../img/preloader.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;
}

.blur {
    text-align: center;
    backdrop-filter: blur(2px);
    font-size: 30px;
    height: 100%;
}

.blur video {
    top: 5%;
    width: 75%;
    height: 90%;
    border: #edf0f1 solid;
    border-radius: 20px;
}


video {
    position: relative;
    z-index: 9999;

}



/* .blur:after {
    position: absolute;
    content: "";
    right: 14%;
    z-index: -1;
    height: 85%;
    width: 83%;
    margin-top: 4%;
    transform: scale(0.75);
    -webkit-filter: blur(5vw);
    -moz-filter: blur(5vw);
    -ms-filter: blur(5vw);
    filter: blur(5vw);
    background: linear-gradient(270deg, #0fffc1, #7e0fff);
    background-size: 200% 200%;
    animation: animateGlow 10s ease infinite;
} */

/* #box {
    display: none;
    z-index: 99999;
    position: absolute;
    width: 40%;
    height: 40%;
    background: #94999d;
    margin: 0 auto;
    bottom: 28%;
    left: 27%;
} */

#box1 {
    display: none;
    z-index: 99999;
    padding: 10px;
    position: absolute;
    width: 65%;
    height: 75%;
    background: #edf0f1;
    left: 17%;
    top: 13%;
    border-radius: 20px;
}

.hints p {
    font-size: 20px;
}

.title {
    color: rgb(247, 11, 133);
    margin-bottom: -20px;
}

.btns a{
    text-decoration: none;
    display: inline-block;
    position: relative;
    margin-top: 30px;
    font-weight: 500;
    padding: 10px 20px;
    font-size: 1.1em;
    background: rgb(30, 30, 30);
    color: white;
    border-radius: 30px;
    transition: 0.3s ease;
    margin: 20px 25px 0 25px;
}