<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- css and fonts and icons -->
    <link rel="stylesheet" href="../static/css/space-info.css">
    
    <title>Animals-Info</title>
</head>

<body>

        <div class="text">
            <h1>Animals in space</h1>
            <h3>hover over the pics</h3>
        </div>

        <div class="container">

        <div class="card">
            <div class="circle"></div>
            <div class="content">
                <h2>Red Brittle Star </h2>
                <p>The red brittle star is only the second creature known to be able to see without having eyes.  It possesses this exotic capability thanks to light-sensing cells, called photoreceptors, covering its body and pigment cells. Laboratory experiments indicated the brittle stars have rudimentary vision. Placed in a circular arena, they moved toward walls that were white with a black bar, suggestive of a daytime hiding place. Another scenario showed they were not simply detecting brightness versus darkness. When they were presented with gray walls making it so no part of the arena was lighter or darker overall, they still moved toward the black stripe, which was centered on a white stripe so as to reflect the same amount of light as the gray.</p>
                <a href="#">Watch Video</a>
            </div>
            <img src="../static/img/rbs.png" alt="">
        </div>

        <div class="card">
            <div class="circle"></div>
            <div class="content">
                <h2>Naked Mole Rat</h2>
                <p>For individual DNA repair pathways, NMR had higher expression of many essential repair proteins in liver. NMR had significantly higher expression than mouse (p= 0.0496) of genes involved in MMR (paired t test) and DDRS (p=0.0011, Wilcoxon matched pairs signed rank test). This is not surprising, given the extreme cancer resistance of the NMR, and the high rates of cancer in mice. None of the DNA repair pathways had significantly higher expression in mouse than NMR.</p>
                <a href="#">Watch Video</a>
            </div>
            <img src="../static/img/nmr.png" alt="">
        </div>

        <div class="card">
            <div class="circle"></div>
            <div class="content">
                <h2>Tardigrade</h2>
                <p>Tardigrades are known to survive high doses of ionizing radiation: Hydrated and anhydrobiotic animals were exposed to gamma-rays (1000 - 7000 Gy) or heavy ions (1000 - 8000 Gy) to evaluate short-term survival at 2, 24 and 48 h post-irradiation. 
M. tardigrade survives high doses of ionizing radiation in both hydrated and anhydrobiotic states, but irradiation with >1000 Gy makes them sterile.
</p>
                <a href="#">Watch Video</a>
            </div>
            <img src="../static/img/Tardigrades-info.png" alt="">
        </div>

        <div class="card">
            <div class="circle"></div>
            <div class="content">
                <h2>Dinococcus Radiodurans</h2>
                <p>While human cells carry about two copies of DNA, and most bacterial
cells carry one, D. radiodurans contain up to 10 redundant copies. Having more copies of important genes means the cells can churn out more copies of the proteins that fix DNA damaged by radiation. This inherent defense mechanism, combined with protective outer layers of cells, kept the microbes alive despite radiation levels over 200 times higher than those on Earth.
</p>
                <a href="#">Watch Video</a>
            </div>
            <img src="../static/img/dr.png" alt="">
        </div>

        <div class="card">
            <div class="circle"></div>
            <div class="content">
                <h2>Eagle</h2>
                <p>Eagles and other birds of prey can see four to five times farther than the average human can, meaning they have 20/5 or 20/4 vision under ideal viewing conditions.</p>
                <a href="#">Watch Video</a>
            </div>
            <img src="../static/img/eagle-info.png" alt="" >
        </div>

    </div>


</body>





</html>