<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- css and fonts and icons -->
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins" />

    
    <title>Bio-Superhero</title>
</head>

<body>
    <main>
        <header>
        <nav>
            <ul class="navbar">
                
                <li id="home" class="active"><a href="#">Home</a></li>
                <li id="about"><a href="#">About</a></li>
                
                <li><img src="../static/img/logo.png" alt="" class="logo"></li>

                <li id="info"><a href="#">Info</a></li>
                <li id="contact"><a href="#">Contact</a></li>    

            </ul>
        </nav>
    </header>

        <section class="hero">
            <video src="../static/img/Hero.mp4" autoplay loop muted></video>
        </section>

        <section class="text">

            <h1 class="title">Space Bio-Superhero</h1>

            <h2 class="desc">Build your space superhero now !</h2>

            <a href="" class="start">Start Game</a>

        </section>


    </main>



    
    <script src="../static/js/index.js"></script>

</body>






</html>