<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- css and fonts and icons -->
    <link rel="stylesheet" href="../static/css/info.css">
    
    <title>Info</title>
</head>

<body>
    
        <div class="card">
            <div class="circle"></div>
            <div class="content">
                <h2>Biological Facts</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Consectetur, quasi aut praesentium minus officia laudantium est.</p>
                <a href="#">Read More</a>
            </div>
            <img src="../static/img/fantasy.png" alt="">
        </div>

        <div class="card">
            <div class="circle"></div>
            <div class="content">
                <h2>Space Hazards</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Consectetur, quasi aut praesentium minus officia laudantium est.</p>
                <a href="space-info.html">Read More</a>
            </div>
            <img src="../static/img/fantasy3.png" alt="" >
        </div>

    <script type="text/javascript" src="../static/js/vanilla-tilt.js"></script>
    <script>
        VanillaTilt.init(document.querySelectorAll(".card"), {
		max: 15,
		speed: 400,
        reverse:true,
	});
    </script>

</body>
</html>