<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Main Menu</title>
</head>
<body>
    
    <h1> Choose your Hero</h1>

    <form action="{{url_for('GO')}}" method='POST'>

        <p>Choose Skin</p>

        <input type="radio" name="attr1" id="" value='1'>
        <label for="">Human</label>

        <input type="radio" name="attr1" id="" value = "2">
        <label for="">Mice</label>

        <input type="radio" name="attr1" id="" value = "3">
        <label for="">Fish</label>

        <input type="radio" name="attr1" id="" value = "4">
        <label for="">Alien</label>


        <p>Choose Eyes</p>

        <input type="radio" name="attr2" id="" value='1'>
        <label for="">Human</label>

        <input type="radio" name="attr2" id="" value='2'>
        <label for="">Mice</label>

        <input type="radio" name="attr2" id="" value='3'>
        <label for="">Fish</label>

        <input type="radio" name="attr2" id="" value='4'>
        <label for="">Alien</label>


        <p>Choose Head</p>

        <input type="radio" name="attr3" id="" value='1'>
        <label for="">Human</label>

        <input type="radio" name="attr3" id="" value='2'>
        <label for="">Mice</label>

        <input type="radio" name="attr3" id="" value='3'>
        <label for="">Fish</label>

        <input type="radio" name="attr3" id="" value='4'>
        <label for="">Alien</label>


        <p>Choose Legs</p>

        <input type="radio" name="attr4" id="" value='1'>
        <label for="">Human</label>

        <input type="radio" name="attr4" id="" value='2'>
        <label for="">Mice</label>

        <input type="radio" name="attr4" id="" value='3'>
        <label for="">Fish</label>

        <input type="radio" name="attr4" id="" value='4'>
        <label for="">Alien</label>

        <div></div>
        <input type="submit" value="GO!">

    </form>









</body>
</html>