<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <!-- css and fonts and icons -->
    <link rel="stylesheet" href="../static/css/main-menu.css">

    <title>Main Menu</title>
</head>




<body>

    <div id="preloader">
        <div class="loader"><img src="../static/img/loader.gif" alt=""></div>
        <div class="loadtext"><p>Loading...</p></div>
    </div>

    
    <form action="{{url_for('GO')}}" method = 'POST'>

    <div class="choose-section sec1">
        <div class="text">
            <h1>Attributes</h1>
        </div>



            <div class="card">
                <h3>Choose Muscle</h3>
                <div class="circle" id="circle1"></div>
                <div class="content" id="content1">
                <h2 style="font-size: 18px; margin-left: 90px;">Muscle</h2>
                    <div class="attributes">

                    <div class="input-container">
                        <input type="radio" name="attr1" id="human" value = "4.8" required>
                        <div class="radio-title">
                            <div class="radio-image" id="human1" >
                            <img src="../static/img/astronaut.png" alt="">
                            </div>
                            <label for="human">Human</label>
                        </div>
                    </div>

                    <div class="input-container">
                        <input type="radio" name="attr1" id="mice" value = "4">
                        <div class="radio-title">
                            <div class="radio-image" id="mice1">
                            <img src="../static/img/mice.png" alt="">
                            </div>
                            <label for="mice">Mice</label>
                        </div>
                    </div>
                    
                    <div class="input-container">
                        <input type="radio" name="attr1" id="alien" value = "3.5">
                        <div class="radio-title">
                            <div class="radio-image" id="alien1">
                            <img src="../static/img/rat.png" alt="">
                            </div>
                            <label for="alien">Rat</label>
                        </div>
                    </div>

                </div>
                </div>
                <div class="card-image" id="image1">
                <img src="../static/img/muscle.png" alt="">
                </div>
            </div>

            <div class="card">
                <h3 style="width: 200px; font-size: 18px; margin-left: -20px;">Choose Radiaton Shield</h3>
                <div class="circle" id="circle2"></div>
                <div class="content" id="content2">
                <h2 style="font-size: 17px;margin-left: 90px;">Radiation Shield</h2>
                    <div class="attributes">

                    <div class="input-container">
                        <input type="radio" name="attr2" id="human2" value = "1.85" required>
                        <div class="radio-title">
                            <div class="radio-image" id="human12">
                            <img src="../static/img/astronaut.png" alt="">
                            </div>
                            <label for="human">Human</label>
                        </div>
                    </div>

                    <div class="input-container">
                        <input type="radio" name="attr2" id="mice2" value = "2.4">
                        <div class="radio-title">
                            <div class="radio-image" id="mice12">
                            <img src="../static/img/Dinococcus radiodurans.png" alt="">
                            </div>
                            <label for="mice" style="font-size: 14px;  margin-bottom:-20px; margin-right: 5px;">Dinococcus Radiodurans</label>
                        </div>
                    </div>
                    
                    <div class="input-container">
                        <input type="radio" name="attr2" id="alien2" value = "2.1">
                        <div class="radio-title">
                            <div class="radio-image" id="alien12">
                            <img src="../static/img/sarta transparent.png" alt="">
                            </div>
                            <label for="alien">cyanobacteria</label>
                        </div>
                    </div>

                </div>
                </div>
                <div class="card-image" id="image2">
                <img src="../static/img/radiation-shield.png" alt="">
                </div>
            </div>
    </div>

    <div class="choose-section">
        <div class="text">
            <h1>Attributes</h1>
        </div>

            <div class="card">
                <h3>Choose DNA</h3>
                <div class="circle" id="circle3"></div>
                <div class="content" id="content3">
                    <h2>Dna</h2>
                    <div class="attributes">

                    <div class="input-container">
                        <input type="radio" name="attr3" id="human3" value = "1.3" required>
                        <div class="radio-title">
                            <div class="radio-image" id="human13">
                            <img src="../static/img/Naked mole rat.png" alt="">
                            </div>
                            <label for="human" style="width: 100px; margin-bottom: -25px;">Naked mole rat</label>
                        </div>
                    </div>

                    <div class="input-container">
                        <input type="radio" name="attr3" id="mice3" value = "1.1">
                        <div class="radio-title">
                            <div class="radio-image" id="mice13">
                            <img src="../static/img/mice.png" alt="">
                            </div>
                            <label for="mice">Mice</label>
                        </div>
                    </div>
                    
                    <div class="input-container">
                        <input type="radio" name="attr3" id="alien3" value = "1.55">
                        <div class="radio-title">
                            <div class="radio-image" id="alien13">
                            <img src="../static/img/Tardigrades.png" alt="">
                            </div>
                            <label for="alien">Tardigrades</label>
                        </div>
                    </div>

                </div>
                </div>
                <div class="card-image" id="image3">
                <img src="../static/img/dna-structure.png" alt="">
                </div>
            </div>

            <div class="card">
                <h3>Choose Eyes</h3>
                <div class="circle" id="circle4"></div>
                <div class="content" id="content4">
                    <h2>Eyes</h2>
                    <div class="attributes">

                    <div class="input-container">
                        <input type="radio" name="attr4" id="human4" value = "1" required>
                        <div class="radio-title">
                            <div class="radio-image" id="human14">
                            <img src="../static/img/astronaut.png" alt="">
                            </div>
                            <label for="human">Human</label>
                        </div>
                    </div>

                    <div class="input-container">
                        <input type="radio" name="attr4" id="mice4" value = "1.2">
                        <div class="radio-title">
                            <div class="radio-image" id="mice14">
                            <img src="../static/img/Red brittle star.png" alt="">
                            </div>
                            <label for="mice" style="width: 100px; margin-bottom: -25px;">Red brittle star</label>
                        </div>
                    </div>
                    
                    <div class="input-container">
                        <input type="radio" name="attr4" id="alien4" value = "0.8">
                        <div class="radio-title">
                            <div class="radio-image" id="alien14">
                            <img src="../static/img/eagle.png" alt="">
                            </div>
                            <label for="alien">eagle</label>
                        </div>
                    </div>

                </div>
                </div>
                <div class="card-image" id="image4">
                <img src="../static/img/eye-ball.png" alt="">
                </div>
            </div>
    </div>
    <input type="text" name="name" id="name" placeholder="Hero Name" class="name" required>
    <input type="submit" value="GO TO SPACE !" class="btn">

    </form>




    <div class="middle">
        <div claas="mid-title">
            <img src="../static/img/GameLogo.png" alt="">
            <h1>Create your Superhero</h1>
        </div>

        <div class="Info-btn">
            
            <a href="{{url_for('info')}}" class=".Info-btn"><span>Learn More</span></a>
        </div>

        <div class="score-btn">
            <a href=""><span>Scoreboard</span></a>
        </div>
    
    
    
    
    </div>


    <script src="../static/js/main-menu.js"></script>
</body>
</html>