<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/scenario2.css">
    
    <title>scenario2</title>
</head>
<body onload="setupVideo()">

    <div class="container">
		<div class="blur">
			<video id="myVideo" width="320" height="320">
               <source src="../static/img/jupiter.mp4" autoplay muted>
            </video>
            
            <div id="box">
                <button id="resume" type="button">Click Me!</button>
            </div>
            <div id="box1">
            </div>
           

		</div>
    </div>	
    <!-- just a comment -->


</body>
<script type='text/javascript'>

    var endVideo=0;
    var pausepoints=[3000,10750];
    var index=0;

    function setupVideo () {
        var video = document.getElementById('myVideo')
        video.addEventListener('ended', function() {
        var box = document.getElementById('box');
        box1.style.display = 'block';
        endVideo = 1;    
        })
      }
 
  var myVideo = document.getElementById('myVideo');
  
  myVideo.addEventListener('click', function () {
    if(endVideo==0){
          if (myVideo.paused == false) {
              myVideo.pause();
              myVideo.firstChild.nodeValue = 'Play';
              box.style.display = 'none';
          } else {
              myVideo.play();
              myVideo.firstChild.nodeValue = 'Pause';
              box.style.display = 'none';
          }
        }
        else{
            video.pause();         
        }
      });
</script>
</html>



<!-- 

var video = document.getElementById('myVideo');


video.onplay = function() {
  window.setTimeout(()=>{
    const video = document.getElementById('myVideo');
    var button = document.getElementById('resume')
    video.pause()
    index++;
    if(endVideo==0){
    button.onclick = function() {
      if (video.paused==false){
      video.resume();
      }
      else {
      video.play();
      box.style.display = 'none';
      }
      return false;
      }
  }
      else{
          box1.style.display = 'block';
          video.pause();
 
         }
    box.style.display = 'block';
  },pausepoints[index])
  
}
  -->