
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Go</title>
</head>
<body>
    <h1>distance: {{distance}}</h1>
    <h1>destination:{{destination}}</h1>
    <h1>scenario:{{scenario}}</h1>
    <h1>attr1:{{attr1}}</h1>
    <h1>attr2:{{attr2}}</h1>
    <h1>attr3:{{attr3}}</h1>
    <h1>attr4:{{attr4}}</h1>
    {%if scenario == 1%}
    <div class="videoGame">
        <video src="../static/img/scenario 1.mkv" autoplay muted></video>
    </div>
    {% elif scenario == 2%}
    <div class="videoGame">
        <video src="../static/img/scenario 2.mkv" autoplay muted></video>
    </div>
    {% elif scenario == 3 %}
    <div class="videoGame">
        <video src="../static/img/scenario 3.mkv" autoplay muted></video>
    </div>
    {% elif scenario == 4 %}
    <div class="videoGame">
        <video src="../static/img/scenario 4.mkv" autoplay muted></video>
    </div>
    {% elif scenario == 5 %}
    <div class="videoGame">
        <video src="../static/img/scenario 5.mkv" autoplay muted></video>
    </div>
    {% elif scenario == 6 %}
    <div class="videoGame">
        <video src="../static/img/scenario 6.mp4" autoplay muted></video>
    </div>
    {%endif%}

    {%if attr1 == 4.8%}
    <div class="hints">
        <h1>Hint for choosing human</h1>
        <p>1</p>
    </div>
    {%elif attr1 == 4%}
    <div class="hints">
        <h1>Hint for choosing mice </h1>
        <p>2</p>
    </div>
    {%else%}
    <div class="hints">
        <h1>Hint for choosing rat</h1>
        <p>3</p>
    </div>
    {%endif%}

    {%if attr2 == 2.4%}
    <div class="hints">
        <h1>Hint for choosing dr</h1>
        <p>their protective outer cells in addition to their ability to repair DNA better than other creatures make them the best, congrats!.</p>
    </div>
    {%elif attr2 == 2.1%}
    <div class="hints">
        <h1>Hint for choosing tard</h1>
        <p>Tardigrades gives your hero a great advantage against radiation but there is a better choice.</p>
    </div>
    {%else%}
    <div class="hints">
        <h1>Hint for choosing human</h1>
        <p>I understand your biased situation but unfortunately we are not a good fit here.</p>
    </div>
    {%endif%}

    {%if attr3 == 1.55%}
    <div class="hints">
        <h1>Hint for choosing tard</h1>
        <p>it was challenging but you chose the best answer, tardigrades rock!.</p>
    </div>
    {%elif attr3 == 1.3%}
    <div class="hints">
        <h1>Hint for choosing nmr</h1>
        <p>Nice guess, but there is a better option.</p>
    </div>
    {%else%}
    <div class="hints">
        <h1>Hint for choosing mice</h1>
        <p>In Egypt we kill it with our slippers! Do you think it is a good idea?</p>
    </div>
    {%endif%}

    {%if attr4 == 1.2%}
    <div class="hints">
        <h1>Hint for choosing rbs</h1>
        <p>Congrats! You made the right decision by choosing the red brittle star. </p>
    </div>
    {%elif attr4 == 1%}
    <div class="hints">
        <h1>Hint for choosing human</h1>
        <p>Sometimes we can feel things, better than seeing them!</p>
    </div>
    {%else%}
    <div class="hints">
        <h1>Hint for choosing eagle</h1>
        <p>Sometimes we can feel things, better than seeing them!</p>
    </div>
    {%endif%}
    

</body>
</html>