<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- css and fonts and icons -->
    <link rel="stylesheet" href="../static/css/space-info.css">
    <link rel="icon" href="../static/img/GameLogo.png" type="image/icon type">

    <title>Space-Info</title>
</head>

<body>
        <div class="text">
            <h1>Space Hazards</h1>
            <h3>hover over the pics</h3>
        </div>

        <div class="logo">
            <img src="../static/img/GameLogo.png" alt="">
        </div>

        <div class="container">

        <div class="card">
            <div class="circle"></div>
            <div class="content">
                <h2>Radiation</h2>
                <p>Radiation exposure increases cancer risk, damages the central nervous system, can alter cognitive function, reduce motor function and prompt behavioral changes.
In space, astronauts are exposed to ten-times higher radiation than on Earth.
</p>
                <a href="https://www.youtube.com/watch?v=uujpLFMCp-A">Watch Video</a>
            </div>
            <img src="../static/img/radiation.png" alt="">
        </div>

        <div class="card">
            <div class="circle"></div>
            <div class="content">
                <h2>DNA Damage</h2>
                <p>DNA damage is created by ionizing radiation that induces DNA breaks, either through direct interactions with the DNA molecule or through indirect radiolysis. Although single-strand breaks are easily repaired through excision repair mechanisms, double-strand breaks (DSBs) involve more complex repair processes.
DNA damage was recently demonstrated for the first time in astronauts, based on directional genomic hybridization that detected an increase of intra-chromosomal inversions during and after spaceflight. Extremely studying radio-tolerant organisms, such as the tardigrade, has revealed a unique damage suppressor protein that potentially could help protect against DNA damage resulting from chronic exposure to space radiation.
</p>
                <a href="https://www.youtube.com/watch?v=SM0TNEOE9p4">Watch Video</a>
            </div>
            <img src="../static/img/dna.png" alt="" >
        </div>

        <div class="card">
            <div class="circle"></div>
            <div class="content">
                <h2>Muscle atrophy </h2>
                <p>Muscle atrophy is the loss or thinning of muscle tissue. If you have atrophied muscles, you’ll see a decrease in your muscle mass and strength. Muscle atrophy can occur due to a lack of physical activity.
If you have muscle atrophy in your limbs, you may feel tingling, numbness, or weakness in your arms and legs. If you have atrophied muscles in your face or throat, your facial muscles may start feeling weak and you may find it difficult to speak or swallow.
</p>
                <a href="https://my.clevelandclinic.org/health/diseases/22310-muscle-atrophy">Read More</a>
            </div>
            <img src="../static/img/muscle-info.png" alt="">
        </div>

        <div class="card">
            <div class="circle"></div>
            <div class="content">
                <h2>Spaceflight-Associated Neuro-ocular Syndrome</h2>
                <p>The Risk of Spaceflight-Associated Neuro-ocular Syndrome (SANS), was first discovered about 15 years ago.
                    This syndrome most noticeably affects a crew member's eyes and vision, and its signs can appear like those of the terrestrial condition idiopathic intracranial hypertension
                    (IIH; which is due to increased intracranial pressure). Over time, it was realized that the VIIP name required an update
                    (e.g., severe headaches, transient vision obscurations, double vision, pulsatile tinnitus),
                    and it has never induced vision changes that meet the definition of vision impairment, as defined by the National Eye Institute.</p>
                <a href="https://www.youtube.com/watch?v=vDqLQGWh6v0">Watch Video</a>
            </div>
            <img src="../static/img/eye-syndrome.png" alt="">
        </div>

    </div>


</body>

</html>
